%article.farm
  %h3= farm.name

  %p
    - user = farm.reviews.first.reviewer
    %strong= user.full_name
    says:
    = farm.reviews.first.body

    %em
      = "(#{farm.reviews.first.rating} of 5 points)"

