.row
  .small-4.small-offset-1.columns.sign-up-form
    %header
      %h2 Sign up for yolk
      %p Connect with great local farms

    = form_for @user, url: sign_up_path do |f|

      = render 'shared/errors', model: @user

      = f.text_field :first_name, placeholder: 'First Name*', required: true
      = f.text_field :last_name, placeholder: 'Last Name*', required: true
      = f.text_field :power_animal, placeholder: 'Power Animal, e.g. Zebra*', required: true
      = f.email_field :email, placeholder: 'Email Address*', required: true
      = f.password_field :password, placeholder: 'Password*', required: true


      %p.sign-up-legal
        By creating an account, you agree to Yelp’s (!)
        %a{:href => "http://www.yelp.com/static?p=tos"} Terms of Service
        and
        %a{:href => "http://wwwo.yelp.com/tos/privacy_en_us_20150504"} Privacy Policy

      = f.submit value: 'Sign Up', class: 'ybtn light sign-up-button'

  .small-4.small-offset-2.end.columns
    %img.sign-up-image{src: image_url('barn.gif'), alt: 'welcome image'}

