%nav
  .row
    .small-12.medium-10.medium-centered.columns.full-width
      .left
        .logo
          = link_to 'yolk', logged_in? ? home_path : sign_up_path

      - if logged_in?
        .right.nav-button
          %a.ybtn{"aria-controls" => "drop1", "aria-expanded" => "false", "data-dropdown" => "drop1"}
            = current_user.full_name
            &raquo;
          %ul#drop1.f-dropdown{"aria-hidden" => "true", "data-dropdown-content" => "", :tabindex => "-1"}
            %li
              = link_to 'sign out', sign_out_path

        .right.nav-button
          = link_to 'Add new Farm', new_farm_path, class: 'ybtn'
        .right.nav-option
          = link_to 'My Reviews', current_user
        .right.nav-option
          = link_to 'Reviews', reviews_path
        .right.nav-option
          = link_to 'Farms', home_path

      - else
        .right
          .sign-up
            = link_to 'Sign Up', sign_up_path, class: 'ybtn'
          .sign-in
            = link_to 'Log In', sign_in_path

