%h3
  Featured Review

%p
  %strong= review.reviewer.full_name
  has reviewed
  %strong= review.farm.name

%p
  = review.body
  %em
    = "(#{review.rating} of 5 points)"

%p
  = link_to 'see more reviews', sign_up_path

