!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Yolk!"

    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => false
    = csrf_meta_tags

    %link{href: 'https://fonts.googleapis.com/css?family=Pacifico', rel: 'stylesheet', type: 'text/css'}

  %body
    = render 'shared/navigation'
    = render 'shared/flash'

    .row
      .small-12.medium-10.medium-centered.columns.main-container.full-width
        = yield
